@font-face {
    font-family: Roboto-Black;
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: Kruti-Dev-010-Regular;
    src: url(../fonts/Kruti-Dev-010-Regular.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(../fonts/Muli-SemiBold.ttf);
}
@font-face {
    font-family: roboto-itali;
    src: url(../fonts/Merriweather-Italic.ttf);
}
@font-face {
    font-family: roboto-ultrab;
    src: url(../fonts/Merriweather-UltraBdIt.ttf);
}
@font-face {
    font-family: roboto-mbold;
    src: url(../fonts/Merriweather-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}
body {
  padding-bottom: 30px;
  position: relative;
  min-height: 100%;
}
p{
    font-size: 14px;
    font-family: Montserrat-Medium; 
    color: #000;
}
ul{
  margin: 0;
}
span, label, a, ul, li, p{
 font-family: Montserrat-Medium;
  letter-spacing: 0.5px;
  transition: all 0.5s;
}

h1, h2, h3, h4, h5, h6{
  font-family: Roboto-Medium;
  margin:0;
  letter-spacing: 0.5px;
  transition: all 0.5s;
}
*{
  text-decoration: none;
}

a {
  transition: background 0.2s, color 0.2s;
}

a:hover, a:focus{
  text-decoration: none;
  outline: none;
  color: #4bcc5a;
  text-decoration: none;

}
ul{
    padding: 0px;
    list-style-type: none;
}
.pdt35{
  padding-top: 35px;
}
.ptop{
  padding-top: 70px;
}

.pbottom{
padding-bottom: 70px;
}
.prz{
    padding-right: 0px;
}
.plz{
    padding-left: 0px;
}
.pos-reltive{
  position: relative;
}
.mr50{
  margin-top: 50px;
}
.mrT70{
  margin-top: 70px;
}
.mrB50{
  margin-bottom: 50px;
}

.Main-heading {
    margin-bottom: 40px;
}
.Main-heading h3 {
    position: relative;
    font-size: 26px;
    margin: 0 0 20px;
}
.Main-heading.text-center h3::before {
    left: 0;
    right: 0;
    margin: 0px auto;
}
.Main-heading h3::before {
    position: absolute;
    content: '';
    display: block;
    bottom: -12px;
    width: 30px;
    margin-bottom: 5px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: inherit;
    left: 5px;
}
.common-btn .sign-up-btn {
    color: #fff;
    border: 1px solid;
    background: linear-gradient(90deg,#38a745,#4cce5b 63%);
    border-image-slice: 1;
}
.common-btn a {
    border: 1px solid;
    color: #333;
    margin-right: 14px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 8px;
    position: relative;
    z-index: 1;
    color: #212529;
}
.common-btn a i {
    font-size: 14px;
    position: relative;
    top: 1px;
    margin-left: 10px;
}
/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg,#38a745,#90ee90 63%);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
