.TopIntroH h4 strong{
font-family: Kruti-Dev-010-Regular;
}
.TopIntroH p {
    font-family: Kruti-Dev-010-Regular;
    font-size: 18px;
}
.bkggreeen{
    background: #7EC0EE;
}
#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
}
.TopIntroH {
    background: #7EC0EE;
    padding: 25px;
    margin-bottom: 25px;
    margin-top: 20px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #90ee90;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

.sidebar-brand {
  position: absolute;
  top: 0;
  width: 250px;
  text-align: center;
  padding: 20px 0;
}
.sidebar-brand h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}
.sidebar-nav {
  position: absolute;
  top: 115px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav > li {
  text-indent: 10px;
  line-height: 42px;
}
.sidebar-nav > li a {
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
.sidebar-nav > li > a:hover,
.sidebar-nav > li.active > a {
  text-decoration: none;
  color: #fff;
  background: #90ee90;
}
.sidebar-nav > li > a i.fa {
  font-size: 24px;
  width: 60px;
}

#navbar-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
}
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}
#navbar-wrapper .navbar {
  border-width: 0 0 0 0;
  background-color: #eee;
  font-size: 24px;
  margin-bottom: 0;
  border-radius: 0;
}
#navbar-wrapper .navbar a {
  color: #757575;
}
#navbar-wrapper .navbar a:hover {
  color: #90ee90;
}

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: 100px;
}
#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.background-color-1 {
    background: #7EC0EE;
    /* padding-top: 43px; */
}
.Mylogo {
    width: 100%;
    max-width: 100px;
    background: #fff;
}
#header-top {
    background-color: #f5f5f5;
    padding: 12px 0;
    font-size: 13px;
    color: #000;
}
#header-top a:hover {
    color: #49c757;
}
#header-top a:hover i{
    color: #49c757;
}
.contact-top li {
    display: inline-block;
    margin-right: 100px;
}
#header-top a {
    color: #000;
}
.contact-top li i {
    color: #000;
    font-size: 18px;
    padding-right: 14px;
}
.social-top li:first-child {
    padding-left: 0;
}
.social-top li {
    display: inline-block;
    padding-left: 32px;
}
.social-top li a {
    font-size: 14px;
}
/*=========HEADER SECTION START======*/
.main-header {
    background:#fff;
}
.my-navbar{
    padding: .5rem 0rem;
}
.mynavbar-ul .active a {
    color: #4bcc5a !important;
}
.mynavbar-ul li a {
    font-family: Montserrat-Medium;
    font-size: 14px;
    color: #333 !important;
    text-transform: uppercase;
    padding: 8px 18px 8px 18px !important;
}
.mynavbar-ul li a:hover {
    color: #4bcc5a !important;
}

.dropdown.MydropDown .dropdown-menu {
    border: 0px;
    background: #111;
    box-shadow: rgba(2, 2, 2, 0.06) 0px 0px 50px;
        margin: 0;
}
.dropdown.MydropDown .dropdown-menu .dropdown-item {
 color: #fff !important;
}
.dropdown.MydropDown .dropdown-menu .dropdown-item:hover, .dropdown.MydropDown .dropdown-menu .dropdown-item:focus {
    background: unset;
    color: #d0d0d0 !important;
}
.dropdown.MydropDown:hover .dropdown-menu{
display: block;
}
/*=========HEADER SECTION END======*/
/*==========BANNER SECTION CSS START=======*/
.myitem{
    background-size: cover !important;
    background-position: center !important;
    height: 680px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.myitem:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .6;
}
.SmallBannerContent h1 {
    font-size: 50px;
    margin-bottom: 20px;
     display: inline-block;
    position: relative;
    color: #fff;
}
.SmallBannerContent p {
    font-size: 14px;
    color: #fff;
}
.SmallBannerContent .common-btn a {
    color: #ffff;
}
.main-banner .owl-prev, .main-banner .owl-next {
position: absolute;
    top: 50%;
    left: 14px;
    display: block;
    width: 70px;
    height: 70px;
    box-shadow: 0px 15px 20px 0px rgba(209, 218, 235, 0.35);
    border-radius: 50%;
    /* margin: 0 auto 405px; */
    line-height: 70px;
    text-align: center;
    color: #7494b5;
    font-size: 35px;
    display: none;
}
.main-banner .owl-next {
    right: 16px !important;
    left: unset;
    background: #fff;
}
.main-banner .owl-dots{
     display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
.main-banner .owl-dot {
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    margin: 0px auto;
    margin-left: 4px;
    border: 2px solid #fff;
}
.main-banner .owl-dot.active {
    background: none;
    border: 2px solid #fff;
}
/*==========BANNER SECTION CSS END=======*/
/*==========BANNER AFTER SECTION CSS START=======*/
.account-area {
    background: linear-gradient(90deg,#38a745,#4cce5b 63%);
    padding-top: 50px;
    color: #fff;
    padding-bottom: 20px;
}
.account-wrap {
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
}
.account-item {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}
.account-item:before {
    position: absolute;
    content: "";
    width: 75%;
    height: 8px;
    right: -92px;
    top: 30px;
    background-color: hsla(0,0%,100%,.38);
    display: none;
}
.account-item.account-last:before {
    display: none;
}
.account-item i {
    display: block;
    width: 65px;
    height: 65px;
    line-height: 65px;
    color: #4cce5b;
    background-color: #fff;
    font-size: 30px;
    box-shadow: 0 0 0 8px hsla(0,0%,100%,.38);
    margin: 8px auto 25px;
    transition: all .5s ease;
}
.account-item span {
    display: block;
    font-weight: 500;
    font-size: 16px;
}
/*==========BANNER AFTER SECTION CSS END=======*/
/*==========Our CLient SECTION CSS START=======*/
.companies {
    background: #f8f8f8;
}
.featured-companies li {
    margin: 0 0 30px;
}
.featured-companies li a {
    background: #fff;
    display: block;
    height: 100px;
    position: relative;
    text-align: center;
}
.featured-companies li a img {
    max-width: 100%;
}
.featured-companies li a span {
    background: #4cce5b;
    border-radius: 50%;
    height: 30px;
    line-height: 24px;
    position: absolute;
    right: -5px;
    top: -5px;
    width: 30px;
    color: #000;
    display: none;
}
.ClintSlider .owl-prev, .ClintSlider .owl-next{
    position: absolute;
    left: -23px;
    top: 46px;
}
.ClintSlider .owl-next{
    position: absolute;
    left: unset;
    right: -23px;
}
.ClintSlider .owl-nav i {
    font-size: 28px;
}
/*==========Our CLient SECTION CSS END=======*/
/*==========ABOUT US SECTION CSS START=======*/
section.portal-area {
    position: relative;
}
.portal-item {
    position: relative;
    margin-bottom: 30px;
}
.portal-item .portal-trusted {
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 12px;
    bottom: 30px;
}
.portal-item .portal-trusted span {
    display: block;
    background: linear-gradient(90deg,#38a745,#90ee90 63%);
    color: #fff;
    font-weight: 600;
    font-size: 28px;
    padding: 20px 70px;
    box-shadow: 0 0 0 10px #cce6cf;
}
.portal-right {
    padding-left: 50px;
}
.portal-item img {
    width: 100%;
}
/*==========ABOUT US SECTION CSS END=======*/

/*==========BLOG SECTION CSS START=======*/
section.Blog {
    background: #f1f1f1;
}
.jp_career_cont {
    /*border: 1px solid #e9e9e9;*/
    border-top: 0;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.jp_career_cont p i {
    color: #000;
}
.jp_career_cont p a {
    color: #000;
    text-decoration: none;
}
.jp_career_cont h3 {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 10px;
}
.jp_career_cont h3 a {
    color: #000;
}
.jp_career_img img{
    width: 100%;
    border-radius: 10px;
}
.jp_career_cont p {
    color: #000;
}
/*==========BLOG SECTION CSS END=======*/
/*==========RECENT JOB SECTION CSS START=======*/
/*section.RecentJob{
    background: #f1f1f1;
}
 .MainJobRecent{ 
    border: 1px solid #fff;
}*/
.job-price {
    margin-bottom: 20px;
}
.PostResumeCol h2 {
    margin-bottom: 10px;
    color: #272727;
    font-size: 20px;
    font-family: Montserrat-Medium;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.brcol{
    border: 1px solid #fff;
    border-top: 0;
    border-left: 0;
}
.MainRecentBox {
    padding: 14px 23px;
    border-bottom: 1px solid #7fd858;
    padding: 16px 30px 30px 20px;
    -webkit-transition: all 300ms linear 0ms;
    -moz-transition: all 300ms linear 0ms;
    -ms-transition: all 300ms linear 0ms;
    transition: all 300ms linear 0ms;
    border-right: 1px solid #7fd858;
}
.Rloop-title h2 a {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 6px;
    display: block;
}
.Rloop-locations {
    font-size: 14px;
    color: #363636;
}
.Rloop-locations a {
    color: #363636;
}
.Rloop-locations p i {
    margin-right: 10px;
}
.Rloop-meta {
    margin-top: 14px;
}
.Rloop-locations p {
    margin-bottom: 4px;
}
.loop-deadline.disabled {
    color: #d21515;
}
.loop-deadline i {
    padding-right: 6px;
}
.loop-deadline.disabled span {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}
.jb-jobs-body .job-price i{
    padding-right: 10px;
}
.job-price p{
    margin-bottom: 5px;
}
.job-price p i {
    margin-right: 10px;
}
.job-price a i {
    margin-right: 10px;
}
.job-price a {
    color: #ffffff;
    font-size: 14px;
}
/*==========RECENT JOB SECTION CSS END=======*/
/*==========FOOTER SECTION CSS START=======*/
#prefooter {
    background: #222;
    padding: 50px 0;
}
#prefooter h2 {
    color: #fff;
    margin-bottom: 25px;
}
#newsletter .form-control {
    border: 0;
    border-radius: 3px 0 0 3px;
    height: 35px;
    width: 330px;
}
#social-networks {
    text-align: right;
}
#social-networks a {
    margin: 0 0 0 5px;
    color: #3caf49;
    font-size: 22px;
}
#credits {
    background: #181818;
    padding: 25px 0;
}
.CopyRight{
    color: #888;
}
.CopyRight a{
    color: #3caf49;
}
button.Subbtn {
    background: #3caf49;
    border: none;
    padding: 6px 10px;
    color: #fff;
}
/*==========FOOTER SECTION CSS END=======*/
/*==========ABOUT US SECTION CSS START=======*/
section.minibanner {
    background: #41b94f;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.MiniBannerContent {
    text-align: center;
}
.MiniBannerContent ul li {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.MiniBannerContent ul li a{
 color: #fff;
}
.MiniBannerContent ul li {
 color: #fff;
}
.portal-item.portal-right p {
    font-size: 15px;
    line-height: 30px;
}
/*==========ABOUT US SECTION CSS END=======*/
/*==========CAndidate Login CSS START=======*/
.contact-layout1{
    position: relative;
}
.contact-layout1 .ForAD {
    top: 25px;
}
.contact-layout1 .ForAD.Adr {
    top: 25px;
}
.contact-layout1 .contact-panel {
    /*-webkit-box-shadow: 0 5px 83px 0 rgba(40,40,40,.1);
    box-shadow: 0 5px 83px 0 rgba(40,40,40,.1);*/
    background-color: #7EC0EE;
    padding: 60px 60px 40px;
    border-radius: 5px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.contact-panel {
    position: relative;
    z-index: 2;
}

.contact-layout1 .contact-panel .contact-panel__form {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 62%;
    flex: 0 0 62%;
    max-width: 62%;
    padding-left: 50px;
    padding-bottom: 20px;
}
.contact-panel__form .form-control {
    height: 60px;
    border: 1px solid #f4f4f4;
    background-color: transparent;
    border-radius: 1px;
    padding: 0 0 0 20px;
    border-radius: 3px;
}
.contact-panel__form textarea.form-control {
    height: auto;
}
.contact-layout1 .contact-panel .contact-panel__banner {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 38%;
    flex: 0 0 38%;
    max-width: 38%;
    padding-bottom: 20px;
    min-height: 400px;
    background-size: cover !important;
    background-position: center center !important;
        position: relative;
    z-index: 1;
}
label.PCS {
    margin-top: 16px;
    margin-bottom: 16px;
    color: #241600;
}
.PcsThree .common-btn a {
    margin-right: 5px;
    font-size: 12px;
}
/*==========CAndidate Login CSS END=======*/
.ForAD {
    width: 132px;
    position: absolute;
    left: 79px;
}
.ForAD.Adr {
    left: unset;
    right: 70px;
    top: 70px;
}
.BlogSidebar .ForAD {
    width: 100%;
    position: relative;
    top: 10px;
    margin-bottom: 29px;
}
.ReplyBlog {
    background: #fff;
    padding: 50px 30px;
}
.SitemapBox h3 {
    font-size: 23px;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 20px;
}
.SitemapBox ul li {
    margin-left: 22px;
    margin-bottom: 10px;
}

.ClintSlider  .owl-nav {
    display: none;
}
ul.RulPost li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 25px;
    /* border-bottom: 1px solid #fff; */
    padding-bottom: 2px;
    padding-top: 16px;
}
.Rloop-title h2 {
    text-align: left;
    margin-bottom: 0;
}
ul.RulPost li i{
    position: absolute;
    left: 0;
    top: 4px;
    color: #7fd858;
}

.ClintSlider .owl-dot.active {
    background: #fff;
    border: 2px solid #fff;
}
.ClintSlider .owl-dots {
    text-align: center;
}
.ClintSlider .owl-dot {
    height: 12px;
    width: 12px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    margin: 0px auto;
    margin-left: 4px;
    border: 2px solid #fff;
}
.MainRecentBox {
    border: 0;
    padding-top: 0;
}
.PostResumeCol h2 {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    padding-left: 20px;
}
.Rloop-title h2 {
    text-align: left;
    margin-bottom: 0;
    padding: 0;
}
.ClintSlider .owl-dots {
    text-align: center;
    padding-bottom: 30px;
}
.featured-companies li a {
    display: initial;
}
ul.RulPost li {
    padding-top: 0px;
}
ul.RulPost li i {
    top: 4px;
    color: #272727;
}
ul.RulPost {
    margin-top: 30px;
}
.jp_career_cont {
    background: #7EC0EE;
}
.UlTabThree ul {
    margin: 0 !important;
}
.UlTabThree {
    margin-top: 35px;
    background: #000;
    text-align: center!important;
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 10px 0px;
}
.UlTabThree ul li a {
    color: #90ee90;
    text-transform: capitalize;
    font-weight: bold;
}
.UlTabThree ul li a.active {
    color: #fff;
    background-color: #90ee90 !important;
}
.adwd100 img{
    width: 100%;
}

.Advert3.adwd100 {
    margin-bottom: 55px;
    margin-top: 37px;
}
.contact-panel__form .form-control::placeholder{
    color: #000;
}
div#pills-tabContent {
    margin-top: 60px;
}
.MainAuthore {
    margin-bottom: 14px;
    /* background: #f1f1f1; */
}
.jp_Authore p {
    margin: 0;
}
.jp_Authore h5 {
    margin-bottom: 6px;
}

.Clintse2 {
    background: #7ec0ee;
    margin-bottom: 27px;
}
  .contact-panel.forgetpg form#contactForm{
  -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.PostBk22 {
    height: 770px;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    width: 100%;
}
.PostBk22:after {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background: rgb(126 192 238 / 73%);
}
.PostBk22 ul.RulPost {
    background: rgb(255 255 255 / 80%);
    padding: 30px;
    position: relative;
    z-index: 9;
    border-radius: 0px 100px 100px 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.PostBk22 .loop-actions {
    padding-left: 10px;
    position: relative;
    z-index: 9;
}
ul.RulPost.BrdrT22 {
    border-radius: 100px 0px 0px 100px;
    padding-left: 75px;
}
.portal-item.SrchCan .portal-trusted span {
    font-size: 13px;
    padding: 11px 26px;
    box-shadow: 0 0 0 10px #cce6cf;
}
.portal-item.SrchCan .portal-trusted {
    display: inline-block;
    text-align: center;
    position: unset;
    right: 12px;
    bottom: 0;
    margin-top: 35px;
}
@media (min-width: 992px) {
  #wrapper {
    padding-left: 250px;
  }
  
  #wrapper.toggled {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 250px;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 60px;
  }
  
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -190px;
}
  
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 60px;
  }
  
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}
  
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }

.PostResumeCol {
    padding-left: 15px;
    padding-right: 15px;
}
.PostResumeCol .common-btn a {
    margin-bottom: 20px;
    margin-left: 26px;
}
.ForAD {
    display: none;
}
.portal-right {
    padding-left: 0px;
}
.contact-layout1 .contact-panel {
    padding: 35px 0px 15px;
}
.contact-layout1 .contact-panel .contact-panel__banner {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-layout1 .contact-panel .contact-panel__form {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0px;
    padding-bottom: 20px;
    margin-top: 30px;
}
.PcsThree .common-btn.text-center {
    text-align: left !important;
    width: 100%;
}
.PcsThree .common-btn a {
    margin-right: 5px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 17px;
}
.BlogBoxMain {
    margin-bottom: 30px;
}

}
/*==========DASHBOARD CSS========*/

.patient-body-detail {
    /* background: #7EC0EE87; */
    padding: 20px;
}

.p-detail .form-group {
    height: 45px !important;
}
.p-detail .input-group {
    height: 45px !important;
}
.input-group {
    margin-bottom: 10px;
}
.p-detail input {
    width: 100%;
    padding: 0.5em 2em 0.5em 1em;
    color: #B8B8B8;
    font-size: 20px;
    outline: none;
    background: none;
    border: none;
    background: #F0EEF0;
}
.p-detail input::placeholder, .p-detail select::placeholder {
    font-size: 14px;
}
.dr-detail-img label {
    text-align: center;
    margin: 0px auto;
    display: block;
}
.profile-pic {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
    margin: 0px auto;
}

.profile-pic:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
}

.profile-pic span {
    display: inline-block;
    padding-top: 4.5em;
    padding-bottom: 4.5em;
    font-size: 12px;
}

.dr-detail-img input[type="file"] {
          display: none;
          cursor: pointer;
 }

 .UploadRBox .sr-only {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.UploadRBox .btn {
    display: block;
    padding: 15px;
    border-radius: .25rem;
    color: #7ec0ee;
    background-color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: bold;
}

.UploadRBox [type=file]:focus + .btn {
  outline: none;
}

.main-box-btn {
    padding: 0px 20px;
}
.bbtn {
    margin-right: 40px;
}
.patient-body-detail {
    /* background: #7EC0EE87; */
    padding: 0px 20px 20px 20px;
}
.sub-btn {
    float: left;
    color: #fff;
    cursor: pointer;
    padding: 9px 26px;
    font-size: 15px;
    background: #7EC0EE;
    border: 2px solid #7EC0EE;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
}
.patient-dr-detail {
    background: #f1f1f1;
    padding: 20px;
    box-shadow: 1px 3px 3px #ccc;
}
.dr-detail-info {
    padding: 6px 0px;
}
.dr-detail-info ul li i {
    font-size: 16px;
    width: 20px;
}
.dr-detail-info ul li span {
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 5px;
}
.n-detal {
    display: inline-block;
    width: 140px;
}
.p-detail select {
    width: 86%;
    padding: 0.5em 2em 0.5em 1em;
    color: #B8B8B8;
    font-size: 14px;
    outline: none;
    background: none;
    border: none;
    background: #F0EEF0;
    height: 44px !important;
}
.my-dasboard-body {
    border-bottom: 2px solid #E6E9ED;
    background: #7EC0EE;
    height: 70px;
}
.my-dasboard-body h3 {
    text-align: left;
    line-height: 0px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 11px 25px;
    letter-spacing: 0.5px;
}
.dash-line h3 {
    line-height: 45px;
    text-align: center;
}
.main-box-btn .common-btn {
    display: inline-block;
}
.main-box-btn {
    display: inline-block;
}
.main-box-btn .common-btn a {
    border: 1px solid #fff;
    width: 100%;
}
.user-profile img {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-right: 10px;
}
.nav_menu .navbar-nav .show .dropdown-menu {
    position: absolute;
    background: #fff;
    margin-top: 0;
    border: 1px solid #D9DEE4;
    -webkit-box-shadow: none;
    right: 0;
    left: auto;
    width: 220px;
}
.nav_menu .top_nav .dropdown-menu li {
    width: 100%;
}
.nav_menu .top_nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static;
}
.nav_menu .top_nav .dropdown-menu li a {
    width: 100%;
    padding: 12px 20px;
}
#navbar-wrapper .nav_menu .dropdown-menu>li>a {
    color: #5A738E;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-size: 12px;
}
.nav>li.Adli>a {
    position: relative;
    display: block;
    padding: 10px 10px 10px;
    font-weight: 500;
    background: #D9DEE4;
    color: #515356 !important;
    margin-left: 0 !important;
    line-height: 27px;
    font-size: 12px;
}

.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}
.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}
.x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
}
table.jambo_table {
    border: 1px solid rgba(221,221,221,0.78);
}
.d-color {
    background: rgb(126 192 238) !important;
}
.JobBody{
    padding:18px;
}
.x_content td a {
    color: #7ec0ee;
    font-weight: bold;
}
.AdRcMB {
    background: #7ec0ee;
    padding-top: 26px;
    margin-bottom: 20px;
}
/*==========DASHBOARD CSS========*/